$VeryDarkBlue: hsl(233, 47%, 7%);
$DarkDesaturateBlue: hsl(244, 38%, 16%);
$SoftViolet: hsl(277, 64%, 61%);

$White: hsl(0, 0%, 100%);
$SligtlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$SligtlyTransWhite: hsla(0, 0%, 100%, 0.6);